<div class="route-profile-name container">
	<h2><%- route.name %></h2>	
</div>

<div class="route-profile-container">

	<div class="route-profile-description">
		<h3>Route's Description</h3>
		<p><%- route.description %></p>
	</div>

	<div class="route-profile-review">
		<h3>Add a review</h3>
		<% reviews.forEach(review => { %>
		  <div>
		    <p><%- review.comment.comment %> </p>
		    <p>Posted at <%- review.comment.createdAt %> by <%- review.sender.name %></p>
		  </div>

		<% }); %>

		<% if (currentUser) { %>
			<div>
				<%- include('_comment') %>
			</div>
			<div class="add_route">
				<h4>Add route to the ones you climbed</h4>
				<%- include('_add_route') %>
			</div>
		<% } %>
	</div>

</div>

	

