<div class="container">
	<h2><%- place.name %></h2>

	<div class="row">
	<div class="place-description">
		<div class="four">
			<h3>Place's Image</h3>
		</div>

		<div class="eight">
			<h3>Place's Description</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde tempore, asperiores expedita architecto eaque sunt at. Quod nulla, ipsa, dolores iste minus aliquid nostrum, incidunt repudiandae voluptatum aliquam nihil nesciunt fugit perferendis cupiditate minima obcaecati laudantium ducimus dolorum quibusdam illum praesentium. Expedita vitae voluptatibus, esse similique, quaerat quisquam itaque?</p>
		</div>		
	</div>
	</div>

	<h2> Routes: </h2>
	<% routes.forEach(route => { %>
	  <div>
	    <p><a href="<%- routePath(route) %>"><%- route.name %></a></p>
	  </div>

	<% }); %>


	<% reviews.forEach(review => { %>
	  <div>
	    <p><%- review.comment %> </p>
	    <p>Posted at <%- review.createdAt %></p>
	  </div>

	<% }); %>

	<% if (currentUser) { %>
		<div> <%- include('_comment') %> </div>
		<div> <a href ="<%- submitRoutePath %>"> New route </a></div>
	<% } %>

</div>
