<div class="place-name container">
	<h2><%- place.name %></h2>
</div>

<div class="place-profile-container">
	<div class="place-description">
		<h2>Place's Description</h2>
		<p><%- place.description %></p>
	</div>

	<div class="place-routes">	
		<h2> Routes: </h2>
		<% routes.forEach(route => { %>
		  <div>
		    <p><a href="<%- routePath(route) %>"><%- route.name %></a></p>
		  </div>

		<% }); %>
		<% if (currentUser) { %>
			<div> <a class="btn btn-green" href ="<%- submitRoutePath %>"> New route </a></div>
		<% } %>

	</div>

	<div class="place-reviews">
		<h2> Reviews: </h2>
		<% reviews.forEach(review => { %>
		  <div>
		    <p><%- review.comment.comment %> </p>
		    <p>Posted at <%- review.comment.createdAt %> by <%- review.sender.name %></p>
		  </div>

		<% }); %>
		<% if (currentUser) { %>
			<div> <%- include('_comment') %> </div>
		<% }; %>
	</div>

</div>

	

