<div class="container">
	<h2><%- place.name %></h2>

	<div class="row">
	<div class="place-description">
		<div class="four">
			<h3>Place's Image</h3>
		</div>

		<div class="eight">
			<h3>Place's Description</h3>
			<p><%- place.description %></p>
		</div>		
	</div>
	</div>

	<h2> Routes: </h2>
	<% routes.forEach(route => { %>
	  <div>
	    <p><a href="<%- routePath(route) %>"><%- route.name %></a></p>
	  </div>

	<% }); %>


	<% reviews.forEach(review => { %>
	  <div>
	    <p><%- review.comment %> </p>
	    <p>Posted at <%- review.createdAt %></p>
	  </div>

	<% }); %>

	<% if (currentUser) { %>
		<div> <%- include('_comment') %> </div>
		<div> <a href ="<%- submitRoutePath %>"> New route </a></div>
	<% } %>

</div>
