<div class="place-name container">
	<h2><%- place.name %></h2>
</div>

<div class="place-profile-container">
	<div class="place-profile-description card">
		<div class="card-header green">
			<h3>Description</h3>
		</div>

		<p><%- place.description %></p>
	</div>

	<div class="place-routes card">	
		<div class="card-header amber">
			<h3>Routes</h3>
		</div>

		<div class="list-group">
			<% routes.forEach(route => { %>
				<a class="list-group-item list-group-item-action" href="<%- routePath(route) %>"><%- route.name %></a>
			<% }); %>
		</div>
		
		<% if (currentUser) { %>
			<a class="btn btn-green new-route-btn" href ="<%- submitRoutePath %>"> New route </a>				
		<% } %>

	</div>

	<div class="place-reviews card" id="place-comments-app" data-user-id="<%= place.id %>" data-api-get-path="/api/place/profile/" data-api-post-path="/api/place/profile/">
		This is the real app
	</div>


	<div class="place-wheather card" id="react-weather" data-place-location="<%- place.location %>">
		Here go React
	</div>

</div>

	

