<div class="container">
	<h2><%- group.name %>'s hub</h2>

	<h3> Members: </h3>

	<% members.forEach( (member) => { %>

	    <p><%- member.name %> </p>

	<% }); %>
	
	<% if (currentUser) { %>
		<% if (alredyMember) {%>
			<div class="place-reviews">
				<h2> Comment: </h2>
				<% comments.forEach(comment => { %>
				  <div>
					<p><%- comment.comment.comment %> </p>
					<p>Posted at <%- comment.comment.createdAt %> by <%- comment.user.name %></p>
				  </div>
		
				<% }); %>
			</div>
			<div> <%- include('_comment') %> </div>
		<% } else { %>
			<%- include('_addMember') %>
		<% } %>
	<% }; %>
</div>
