<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tochova</title>
  <% if (env !== 'development') { %>
    <link rel="stylesheet" href="/assets/styles.css">
    <% } %>
</head>

<body>
  <div class="navbar">
    <h1>TOCHOVA</h1>
    <ul>
      <a href="/"> Home </a>
      <a href="/misc/faq"> FAQ </a>
      <a href="/misc/tips"> Tips </a>        
    </ul>
    <ul>
    <% if (currentUser) { %>
      <a class="pull-right" href="<%= destroySessionPath %>"> Logout </a>
      <a class="pull-right" href="<%= profilePath(currentUser) %>"> <%- currentUser.name %> </a>
    <% } else { %>
      <a class="pull-right" href="<%= newSessionPath %>"> Login </a>
    <% } %>        
    </ul>
  </div>

  <%- body %>
    <script src="/assets/app.js"></script>
    <script src="/assets/appReact.js"></script>
</body>

</html>
