<div class="container">
    <% if (locals.notice) { %>
      <div className="notice"><%= notice %></div>
    <% } %>
    <h1>Login</h1>
    <% if (locals.error) { %>
      <div class="error">
        <%= error %>
      </div>
    <% } %>
  <div class="login">
    <form class="row" action="<%= createSessionPath %>" method="post">
      <input type="hidden" name="_method" value="put" />
      <div class="row">
        <div class="input-field">
          <label for="email">Email</label>
          <input type="email" name="email" value="<%= locals.email %>" />
        </div>        
      </div>

      <div class="row">
        <div class="input-field">
          <label for="password">Password</label>
          <input type="password" name="password" value="<%= locals.password %>" />
        </div>        
      </div>
      <div class="input-field">
        <input class="btn btn-blue" type="submit" name="sign-in" value="Sign In" />
      </div>
    </form>    
  </div>
</div>
