<div class="login">
  <% if (locals.errors) { %>
    <div class="errors">
      You need to fix the following errors:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form class="row" action="<%= submitUserPath %>" method="post">
    <% if (!user.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div class="row">
      <div class="input-field six">
        <label for="name">Name</label>
        <input placeholder="First Name" type="text" name="name" value="<%= user.name %>" />
      </div>
      <div class="input-field six">
        <label for="lastName">Last name</label>
        <input placeholder="Last Name" type="text" name="lastName" value="<%= user.lastName %>" />
      </div>      
    </div>

    <div class="row">
      <div class="input-field">
        <label for="email">Email</label>
        <input type="text" name="email" value="<%= user.email %>" />
      </div>      
    </div>

    <div class="row">
      <div class="input-field">
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>      
    </div>
    <div class="input-field">
      <% if (user.isNewRecord) { %>
        <input class="btn btn-blue" type="submit" name="create" value="Create" />
      <% } else { %>
        <input class="btn btn-blue" type="submit" name="update" value="Update" />
      <% } %>
    </div>
  </form>
</div>
