<div class="user-profile-container">
	<div class="user-picture card">
		<% if (user.picture) { %>
			<img id='user-img' src=<%= user.picture %> />
		<% }%>

		<% if (currentUser && currentUser.id == user.id) { %>
			<div class="img-form">
				<%- include('_picture') %>
			</div>
		<% }%>

	</div>

	<div class="user-name card">
		<h2><%- user.name %></h2>
	</div>

	<div class="user-routes card">
		<div class="card-header amber">
			<h3>Routes You Climbed</h3>
		</div>

		<ul class="list-group">
			<% routes.forEach(route => { %>
				<li class="list-group-item">
					<%- route.route.name %>
					<span class="badge badge-blue pull-right"><%- route.count %></span>
				</li>
			<% }); %>
		</ul>

	</div>

	<div class="user-achievements card">
		<div class="card-header cyan">
			<h3>Achievements</h3>
		</div>

		<ul class="list-group">
			<% achievements.forEach(achievement => { %>
				<li class="list-group-item">
					<%- achievement.name %>
				</li>
			<% }); %>
		</ul>
	</div>

	<div class="user-comments">
		<h3>Comments</h3>
		<% comments.forEach(comment => { %>
		  <div class="comment">
		    <p><%- comment.comment.comment %> </p>
		    <p>Posted at <%- comment.comment.createdAt %> by <%- comment.sender.name %></p>
		  </div>

			<% }); %>

		</ul>

		<div id="userProfileComment-react-app" data-user-profile-comment="<%- comments %>" data-id-profile="<%= user.id %>"> Here go React </div>
	</div>

	<div>
		<p><a href=<%- galleryPath%>>Gallery</a></p>
	<div>


</div>
