<div class="user-profile-container">
	<div class="user-picture card">
		<% if (user.picture) { %>
			<img id='user-img' src=<%= user.picture %> />
		<% }%>

		<% if (currentUser && currentUser.id == user.id) { %>
			<div class="img-form">
				<%- include('_picture') %>
			</div>
		<% }%>

	</div>

	<div class="user-name card">
		<h2><%- user.name %></h2>
	</div>

	<div class="user-routes card">
		<div class="card-header amber">
			<h3>Routes You Climbed</h3>
		</div>

		<ul class="list-group">
			<% routes.forEach(route => { %>
				<li class="list-group-item">
					<%- route.route.name %>
					<span class="badge badge-blue pull-right"><%- route.count %></span>
				</li>
			<% }); %>
		</ul>

	</div>

	<div class="user-achievements card">
		<div class="card-header cyan">
			<h3>Achievements</h3>
		</div>

		<ul class="list-group">
			<% achievements.forEach(achievement => { %>
				<li class="list-group-item">
					<%- achievement.name %>
				</li>
			<% }); %>
		</ul>
	</div>

	<div class="user-comments card" id="user-comments-app" data-current-user="<%= currentUser %>" data-user-id="<%= user.id %>" data-api-get-path="/api/user/profile/" data-api-post-path="/api/user/profile/">
		Loading...
	</div>


	<div class="user-profile-gallery card">
		<div class="card-header blue-grey">
			<a href=<%- galleryPath%>> <h3>Gallery</h3> </a>
		</div>
	<div>


</div>
