<div class="user-profile-container">
	<div class="user-picture">
		<h3>User's Image</h3>
		<% if (user.picture) { %>
			<img id='img' src=<%= user.picture %> />
		<% }%>

		<% if (currentUser && currentUser.id == user.id) { %>
			<div>
			<%- include('_picture') %>
			</div>
		<% }%>

	</div>

	<div class="user-name">
		<h2><%- user.name %></h2>
	</div>

	<div class="user-routes">
		<h3>Routes</h3>
		<table>
		  <tr>
		    <th class="title">Route</th>
		    <th class="title">Times climbed</th>
		  </tr>

		<% routes.forEach(route => { %>
			<tr>
				<td class="routes-item"><%- route.route.name %></td>
				<td class="routes-item"><%- route.count %></td>
			</tr>
		<% }); %>
		</table>
	</div>

	<div class="user-achievements">
		<h3>Achievements</h3>
		<table>
		  <tr>
		    <th class="title">Name</th>
		  </tr>

		<% achievements.forEach(achievement => { %>
			<tr>
				<td><%- achievement.name %></td>
			</tr>
		<% }); %>
		</table>
	</div>

	<div class="user-comments">
		<h3>Comments</h3>
		<% comments.forEach(comment => { %>
		  <div class="comment">
		    <p><%- comment.comment.comment %> </p>
		    <p>Posted at <%- comment.comment.createdAt %> by <%- comment.sender.name %></p>
		  </div>

		<% }); %>

		<div id="userProfileComment-react-app" data-user-profile-comment="<%- comments %>" data-id-profile="<%= user.id %>"> Here go React </div>
	</div>
	
</div>
